<div class="modal _modal-call">
  <div class="modal__bg _modal-call__bg"></div>
  <div class="modal-body">
    <div class="modal-body__con">
      <div class="modal-body__close _modal-call__close">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 3L21.5 21M21.5 3L3.5 21" stroke="#BABABA" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
      <h2 class="modal-body__title">
        обратный звонок
      </h2>
      <p class="modal-body__desc">
        Оставьте свои контакты и наш менеджер свяжется с вами ближайшее время
      </p>
      <form action="" class="modal-body__form">
        <label>
          <input type="text" class="_input-name" placeholder="Введите имя">
        </label>
        <label>
          <input type="text" class="_phone-mask _input-phone" placeholder="Введите телефон *">
        </label>
        <button class="btn">заказать обратный звонок</button>
      </form>
      <div class="modal-body__policy">
        Нажимая на кнопку “Заказать обратный звонок” вы соглашаетесь с <br> нашей <a href="">политикой
          конфиденциальности</a>
      </div>
    </div>
  </div>
</div>