<div class="modal _modal-crm ">
  <div class="modal__bg _modal-crm__bg"></div>
  <div class="modal-body">
    <div class="modal-body__con">
      <div class="modal-body__title">
        Запросить аналог
        <div class="modal-body__close _modal-crm__close">
          <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="38" height="38" rx="19" fill="#FFBC4B" />
            <path d="M10 10L28 28M28 10L10 28" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </div>
      </div>
      <div class="modal-body__item">
        <div class="modal-body__item-img">
          <img src="./img/crm/image.png" alt="">
        </div>
        <div class="modal-body__item-title">
          Graco Mark V окрасочный аппарат
        </div>
      </div>
      <form class="modal-body__contacts">
        <div class="modal-body__contacts-text">
          Оставьте Ваши контактные данные и наш менеджер подберёт Ваш наилучший аналог
        </div>
        <div class="modal-body__contacts-fields">
          <label class="modal-body__contacts-field">
            <input type="text" placeholder="Имя">
          </label>
          <label class="modal-body__contacts-field">
            <input class="_phone-mask _input-phone" type="text" placeholder="Телефон*">
          </label>
        </div>
        <div class="modal-body__contacts-warn">
          Нажимая кнопку «Отправить», я даю <a href="">согласие на обработку персональных данных</a>
        </div>
        <button type="submit" class="modal-body__contacts-btn btn">
          Отправить
        </button>
      </form>
    </div>
  </div>
</div>