<div class="modal _modal-filter">
  <div class="modal__bg _modal-filter__bg"></div>
  <div class="modal-body">
    <div class="mobile-catalog__top _mobile-catalog__top">
      <div class="mobile-catalog__top-title">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 19L10 19M17 12L7 12M21 5L3 5" stroke="black" stroke-width="2" stroke-linecap="round" />
        </svg>

        Фильтр
      </div>
      <div class="mobile-catalog__top-close _modal-filter__close">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 3L21.5 21M21.5 3L3.5 21" stroke="#BABABA" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
    </div>
    <div class="modal-body__con">
      <div class="modal-body__filter">
        <div class="catalog-filter__title">
          Цена, ₽
        </div>
        <div class="catalog-filter__range">
          <div id="range-slider-mobile"></div>
        </div>
        <div class="catalog-filter__fromto">
          <input type="number" placeholder="От">
          <input type="number" placeholder="До">
        </div>
        <div class="catalog-filter__title">
          Бренд
        </div>
        <div class="catalog-filter__checks">
          <label>
            <input type="checkbox">
            <span class="fake"><img src="./img/icons/check-box.svg" alt=""></span>
            <span class="text">Shtaer</span>
          </label>
          <label>
            <input type="checkbox">
            <span class="fake"><img src="./img/icons/check-box.svg" alt=""></span>
            <span class="text">Shtaer</span>
          </label>
          <label>
            <input type="checkbox">
            <span class="fake"><img src="./img/icons/check-box.svg" alt=""></span>
            <span class="text">Shtaer</span>
          </label>
        </div>
        <div class="catalog-filter__title">
          страна
        </div>
        <div class="catalog-filter__checks">
          <label>
            <input type="checkbox">
            <span class="fake"><img src="./img/icons/check-box.svg" alt=""></span>
            <span class="text">Китай</span>
          </label>
          <label>
            <input type="checkbox">
            <span class="fake"><img src="./img/icons/check-box.svg" alt=""></span>
            <span class="text">США</span>
          </label>
          <label>
            <input type="checkbox">
            <span class="fake"><img src="./img/icons/check-box.svg" alt=""></span>
            <span class="text">Южная Корея</span>
          </label>
        </div>
        <div class="catalog-filter__title">
          производительность, л/м
        </div>
        <div class="catalog-filter__perfomance">
          <div id="range-perfomance-slider-mobile"></div>
        </div>
        <div class="catalog-filter__fromto">
          <input type="number" placeholder="От">
          <input type="number" placeholder="До">
        </div>
      </div>
    </div>
    <div class="_modal-filter__bottom">
      <div class="_modal-filter__bottom-params">
        <button>
          Выбранный параметр
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 2L14.5 14M14.5 2L2.5 14" stroke="#231F20" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
        <button>
          Выбранный параметр
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 2L14.5 14M14.5 2L2.5 14" stroke="#231F20" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
        <button>
          Выбранный параметр
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 2L14.5 14M14.5 2L2.5 14" stroke="#231F20" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
        <button>
          Выбранный параметр
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 2L14.5 14M14.5 2L2.5 14" stroke="#231F20" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
        <button>
          Выбранный параметр
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 2L14.5 14M14.5 2L2.5 14" stroke="#231F20" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
        <button>
          Выбранный параметр
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 2L14.5 14M14.5 2L2.5 14" stroke="#231F20" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="_modal-filter__bottom-btns">
        <button class="_reset">
          Сбросить
        </button>
        <button class="_show">
          показать 140 товаров
        </button>
      </div>
    </div>
  </div>
</div>