<div class="modal _modal-forgot">
  <div class="modal-body">
    <div class="modal-body__con">
      <div class="modal-body__close _modal-forgot__close">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 3L21.5 21M21.5 3L3.5 21" stroke="#BABABA" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
      <h2 class="modal-body__title">
        Восстановление пароля
      </h2>
      <form action="" class="modal-body__form">
        <label>
          <input type="text" placeholder="Введите логин или E-mail *">
        </label>
        <button class="btn">Восстановить пароль</button>
      </form>
      <div class="modal-body__forgot _modal-login-open-btn _modal-forgot__close">Я вспомнил пароль</div>
    </div>
  </div>
  <div class="modal__bg _modal-forgot__bg"></div>
</div>