<div class="modal _modal-login">
  <div class="modal-body">
    <div class="modal-body__con">
      <div class="modal-body__close _modal-login__close">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 3L21.5 21M21.5 3L3.5 21" stroke="#BABABA" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
      <h2 class="modal-body__title">
        Вход
      </h2>
      <form action="" class="modal-body__form">
        <label>
          <input type="text" placeholder="Введите E-mail *">
        </label>
        <label>
          <input type="text" placeholder="Введите пароль *">
        </label>
        <button class="btn">Войти</button>
      </form>
      <div class="modal-body__forgot _modal-forgot-open-btn _modal-login__close">Забыли пароль?</div>
      <div class="modal-body__bottom">
        <div class="modal-body__bottom-text">
          Впервые <br> на нашем сайте?
        </div>
        <div class="modal-body__bottom-btn btn btn_gray _modal-registration-open-btn _modal-login__close">
          зарегистрироваться
        </div>
      </div>
    </div>
  </div>
  <div class="modal__bg _modal-login__bg"></div>
</div>