.cart {
  margin: 48px 0 64px;
  overflow: hidden;

  @media (max-width: 991px) {
    margin: 32px 0 64px;
  }
  @media (max-width: 767px) {
    margin: 32px 0;
  }

  &_order {
    &-top {
      margin: 48px 0 0;
      padding: 24px 32px;
      display: flex;
      align-items: center;
      background: #f5f5f5;
      border-radius: 6px;

      @media (max-width: 767px) {
        width: 100%;
      }

      &__wrapper {
        @media (max-width: 767px) {
          overflow: auto;
          display: flex;
        }
      }

      &__item {
        cursor: pointer;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        white-space: nowrap;

        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #231f20;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
          flex: 0 1 auto;
          max-width: unset !important;
          white-space: nowrap !important;
        }

        svg {
          path,
          circle {
            transition: all 0.3s ease;
          }
        }

        &:hover {
          color: #faa61a;
          svg {
            path,
            circle {
              stroke: #faa61a;
            }
          }
        }

        &._active {
          svg {
            path,
            circle {
              stroke: #faa61a;
            }
          }
        }

        &:first-child {
          flex: 0 1 auto;

          @media (max-width: 991px) {
            white-space: unset;
            max-width: 124px;
          }
        }

        &:not(:first-child) {
          margin: 0 0 0 24px;

          &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #d9d9d9;
            margin: 0 24px 0 0;

            @media (max-width: 767px) {
              min-width: 25px;
            }
          }

          @media (max-width: 991px) {
            margin: 0 0 0 8px;

            &::before {
              margin: 0 8px 0 0;
            }
          }
        }

        svg {
          flex: 0 0 auto;
          margin: 0 8px 0 0;
        }
      }
    }

    &-content {
      display: none;
      flex-direction: column;
      padding: 24px;

      @media (max-width: 767px) {
        padding: 24px 16px 0 16px;
      }

      &._active {
        display: flex;
      }

      ._order__btn {
        display: none;
      }

      .order-type {
        &__btns {
          margin: 32px 0 0;
          display: flex;
          align-items: center;

          @media (max-width: 991px) {
            margin: 16px 0 0;
            flex-direction: column;
            align-items: flex-start;
          }
        }

        p {
          font-family: 'Futura PT';
          font-size: 16px;
          line-height: 21px;
          color: #231f20;
        }

        label {
          cursor: pointer;
          display: flex;
          align-items: center;
          font-family: 'Futura PT';
          font-size: 16px;
          line-height: 21px;
          color: #231f20;

          &:not(:first-child) {
            margin: 0 0 0 60px;

            @media (max-width: 991px) {
              margin: 16px 0 0;
            }
          }

          input {
            display: none;

            &:checked + span {
              border-color: #faa61a;
              &::after {
                transform: translate(-50%, -50%) scale(1);
              }
            }
          }
          span {
            position: relative;
            flex: 0 0 auto;
            display: block;
            margin: 0 8px 0 0;
            width: 16px;
            height: 16px;
            border: 2px solid #d9d9d9;
            transition: all 0.3s ease;
            border-radius: 50%;

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              width: 9.5px;
              height: 9.5px;
              background: #faa61a;
              border-radius: 50%;
              transition: all 0.3s ease;
            }
          }
        }
      }
      .order-profile {
        margin: 28px 0 0;

        @media (max-width: 991px) {
          display: none;
        }

        .itc-select {
          margin: 4px 0 0;
          flex: 0 0 auto;
          max-width: 400px;
          width: 100%;
          height: 50px;
          // border-radius: 3px;

          // .itc-select__dropdown {
          //   max-height: 150px;
          // }

          @media (max-width: 960px) {
            display: none;
          }

          &__toggle {
            height: 100%;
            background: #ffffff;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            padding: 0;
            font-size: 16px;
            line-height: 1;
            padding: 0 30px 0 14px;

            &::after {
              top: 18px;
              background-image: url('../img/icons/arrow-order.svg');
            }
          }

          &__dropdown {
            top: calc(100%);
            border: none;
            background: #ffffff;
            box-shadow: 0px 20px 24px -4px rgba(137, 142, 156, 0.25),
              0px 8px 8px -4px rgba(148, 148, 148, 0.2);
            border-radius: 5px;
          }

          &__options {
            padding: 16px 0;
          }

          &__option {
            padding: 4px 16px;
            font-size: 16px;
            line-height: 21px;
            color: #231f20;
            transition: all 0.3s ease;

            &:not(:first-child) {
              margin: 8px 0 0;
            }

            &.itc-select__option_selected {
              background-color: transparent;
              color: #faa61a;

              &:hover {
                text-decoration: none;
              }
            }

            &:hover {
              background-color: transparent;
              text-decoration: underline;
            }
          }
        }
      }
      .order-inputs {
        margin: 32px 0 0;
        display: flex;
        flex-direction: column;

        @media (max-width: 991px) {
          margin: 0;
          flex: 0 0 calc(50% - 8px);
        }
      }
      .order-con {
        @media (max-width: 991px) {
          display: flex;
          margin: 16px 0 0;
        }
        @media (max-width: 767px) {
          display: block;
        }
      }
      .order-input {
        input {
          height: 50px;
          width: 100%;
          max-width: 400px;
          background: #ffffff;
          border: 1px solid #d9d9d9;
          border-radius: 5px;

          font-family: 'Futura PT';
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          padding: 0 16px;

          @media (max-width: 991px) {
            height: 46px;
          }

          &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03),
              0px 5px 15px rgba(0, 0, 0, 0.05);
          }

          &:placeholder {
            color: #919191;
          }
        }

        .just-validate-error-field {
          border-color: rgb(184, 17, 17);
        }

        .just-validate-error-label {
          display: none;
        }

        &:not(:first-child) {
          margin: 32px 0 0;

          @media (max-width: 991px) {
            margin: 16px 0 0;
          }
        }
      }
      .order-comment {
        margin: 32px 0 0;

        textarea {
          width: 100%;
          height: 114px;
          background: #ffffff;
          border: 1px solid #d9d9d9;
          border-radius: 5px;
          resize: none;
          padding: 14px 16px;

          font-family: 'Futura PT';
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;

          &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03),
              0px 5px 15px rgba(0, 0, 0, 0.05);
          }

          &:placeholder {
            color: #919191;
          }
        }

        @media (max-width: 991px) {
          margin: 0 0 0 16px;
          flex: 0 0 calc(50% - 8px);

          textarea {
            height: 100%;
          }
        }
        @media (max-width: 767px) {
          margin: 16px 0 0;
          flex: 0 0 100%;

          textarea {
            height: 100px;
          }
        }
      }
      .order-city {
        @media (max-width: 991px) {
          width: calc(50% - 8px);
        }
        @media (max-width: 767px) {
          width: 100%;
        }

        p {
          font-family: 'Futura PT';
          font-size: 16px;
          line-height: 21px;
          color: #231f20;
        }
        label {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;
          margin: 16px 0 0;
          padding: 0 16px;

          background: #ffffff;
          border: 1px solid #d9d9d9;
          border-radius: 5px;

          ._search {
            cursor: pointer;
            flex: 0 0 auto;
            width: 16px;
            height: 16px;
            margin: 0 8px 0 0;
          }
          ._clear {
            cursor: pointer;
            flex: 0 0 auto;
            width: 28px;
            height: 16px;
            margin: 0 0 0 auto;
            padding: 0 0 0 12px;
          }
          input {
            position: relative;
            z-index: 2;
            display: block;
            width: 100%;
            height: 50px;
            background: transparent;

            font-family: 'Futura PT';
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #231f20;

            @media (max-width: 767px) {
              height: 46px;
              font-size: 14px;
              line-height: 18px;
            }

            &.order-city__shadow {
              pointer-events: none;
              position: absolute;
              z-index: 1;
              top: 0;
              left: 40px;
              right: 44px;
              width: auto;

              color: #919191;
            }
          }
        }

        &__list {
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 0;
          right: 0;
          overflow: auto;

          padding: 7px 8px;
          background: #ffffff;
          border: 1px solid #d9d9d9;

          max-height: 200px;

          display: none;
          &._open {
            display: block;
          }

          &-item {
            cursor: pointer;
            font-family: 'Futura PT';
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #919191;
            transition: all 0.3s ease;
            padding: 7px 8px;

            &:hover {
              background: #e5e5e5;
            }

            span {
              color: #231f20;
            }
          }
        }
      }
      .order-from {
        margin: 32px 0 0;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 991px) {
          margin: 16px 0 0;
          width: calc(50% - 8px);
        }
        @media (max-width: 767px) {
          width: 100%;
        }

        &_payment {
          width: 100%;
        }

        &__item {
          cursor: pointer;
          display: flex;
          flex: 0 0 calc(50% - 12px);

          @media (max-width: 991px) {
            flex: 0 0 100%;
          }

          &:not(:first-child) {
            margin: 32px 0 0 24px;
          }

          &:nth-child(2n + 1) {
            margin: 32px 0 0;
          }

          &:nth-child(1) {
            margin: 0;
          }
          &:nth-child(2) {
            margin: 0 0 0 24px;
          }

          @media (max-width: 991px) {
            &:not(:first-child) {
              margin: 16px 0 0;
            }
          }

          input {
            display: none;

            &:checked + span {
              border-color: #faa61a;
              &::after {
                transform: translate(-50%, -50%) scale(1);
              }
            }
          }
          ._radio {
            position: relative;
            flex: 0 0 auto;
            display: block;
            margin: 2px 8px 0 0;
            width: 16px;
            height: 16px;
            border: 2px solid #d9d9d9;
            transition: all 0.3s ease;
            border-radius: 50%;

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              width: 9.5px;
              height: 9.5px;
              background: #faa61a;
              border-radius: 50%;
              transition: all 0.3s ease;
            }
          }

          &-title {
            font-family: 'Futura PT';
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #231f20;
          }
          &-price {
            margin: 4px 0 0;
            font-family: 'Futura PT';
            font-size: 16px;
            line-height: 21px;
            color: #919191;

            @media (max-width: 991px) {
              margin: 0;
            }
          }
          &-address {
            margin: 4px 0 0;
            font-family: 'Futura PT';
            font-size: 16px;
            line-height: 21px;
            color: #919191;

            @media (max-width: 991px) {
              margin: 0;
            }
          }
        }
      }
      .order-info {
        display: inline-flex;
        align-self: flex-start;
        padding: 4px 8px;
        background: #f5f5f5;
        border-radius: 6px;

        &__icon {
          margin: 2px 8px 0 0;
        }

        &__content {
          p {
            font-family: 'Futura PT';
            font-size: 14px;
            line-height: 18px;
            color: #231f20;
          }
        }
      }
      .order-coupon {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 324px;
        margin: 24px 0 0;

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #231f20;
        }

        label {
          margin: 8px 0 0;

          span {
            font-family: 'Futura PT';
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #bababa;
          }
          input {
            width: 100%;
            margin: 4px 0 0;
            padding: 0 16px;
            height: 50px;
            background: #ffffff;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
          }
        }
      }
      .order-agree {
        display: flex;
        margin: 24px 0 0;
        cursor: pointer;

        font-family: 'Futura PT';
        font-size: 16px;
        line-height: 21px;
        color: #919191;

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
        }

        input {
          display: none;

          &:checked + span {
            border-color: #faa61a;
            img {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
        span {
          position: relative;
          flex: 0 0 auto;
          display: block;
          margin: 2px 8px 0 0;
          width: 16px;
          height: 16px;
          border: 2px solid #d9d9d9;
          transition: all 0.3s ease;
          border-radius: 2px;

          img {
            width: 12px;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: all 0.3s ease;
          }
        }
      }
    }

    .cart-top {
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      color: #231f20;
    }
    .cart-col {
      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        min-height: 500px;

        @media (max-width: 991px) {
          min-height: 250px;
        }
      }
    }
    .cart-btns {
      margin: auto 24px 24px 24px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 991px) {
        margin: auto 16px 16px 16px;
      }

      @media (max-width: 767px) {
        flex-wrap: wrap-reverse;
      }

      &__item {
        @media (max-width: 991px) {
          flex: 0 0 calc(50% - 8px);
          margin: 0 0 0;
          padding: 16px 0;

          font-size: 13px;
          line-height: 17px;
        }
        @media (max-width: 767px) {
          flex: 1 1 100%;
          margin: 24px 0 0 !important;
        }

        &._disabled {
          display: none;
        }

        &:first-child {
          background: #ededed;
        }
        &:last-child {
          margin: 0 0 0 auto;
        }
      }
    }
    .cart-order__nds {
      font-size: 16px;
      line-height: 21px;
    }
    .cart-order__sum {
      border-top: 1px solid #d9d9d9;
      margin: 24px 0 0;
      padding: 24px 0 0;
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }
    .cart-order__title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      a {
        font-family: 'Futura PT';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #faa61a;
        text-transform: none;
      }
    }

    @media (max-width: 991px) {
      .cart-order__title {
        font-size: 17px;
        line-height: 22px;

        a {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .cart-order__price,
      .cart-order__nds {
        margin: 16px 0 0;

        span {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .cart-order__sum {
        margin: 16px 0 0;
        padding: 16px 0 0;

        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  &-body {
    display: flex;

    @media (max-width: 1050px) {
      flex-wrap: wrap;
    }
  }
  &-col {
    flex: 1 1 auto;

    &:not(:first-child) {
      margin: 0 0 0 24px;
    }

    &:nth-child(1) {
      border: 1px solid #ededed;
      border-radius: 6px;

      @media (max-width: 1050px) {
        flex: 1 1 100%;
      }
    }

    &:nth-child(2) {
      flex: 0 0 424px;

      @media (max-width: 1200px) {
        flex: 0 0 320px;
      }
      @media (max-width: 1050px) {
        flex: 1 1 100%;
        margin: 32px 0 0;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
      }
    }
  }
  &-top {
    background: #f5f5f5;
    border: 1px solid #ededed;
    padding: 16px 24px;
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: #919191;

    @media (max-width: 767px) {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &-item {
    position: relative;
    padding: 24px;
    display: flex;
    transition: all 0.3s ease;

    .cart-item__closeblock {
      // display: none;
      opacity: 0;
      width: 100%;
      max-width: 0;
      transition: all 0.3s ease;

      position: absolute;
      left: calc(100%);
      top: -1px;
      bottom: -1px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      background: #ff0000;
      border: 1px solid #d9d9d9;

      font-family: 'Futura PT';
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }

    &._close {
      position: relative;
      transform: translate(-100px, 0);
      background-color: #fff;
      border: 1px solid #d9d9d9 !important;

      .cart-item__closeblock {
        opacity: 1;
        max-width: 100px;
      }
    }

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    @media (max-width: 767px) {
      padding: 16px;
    }

    &:not(:first-child) {
      border-top: 1px solid #d9d9d9;
    }

    &:nth-child(2) {
      border-top: none;
    }

    &__img {
      height: 112px;

      @media (max-width: 991px) {
        flex: 0 0 76px;
        height: 76px;
      }

      @media (max-width: 767px) {
        order: 2;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &__info {
      margin: 0 0 0 24px;

      @media (max-width: 991px) {
        margin: 0 0 0 8px;
        flex: 0 0 calc(100% - 304px);
      }

      @media (max-width: 767px) {
        order: 3;
        flex: 0 0 calc(100% - 84px);
      }

      &-code {
        font-family: 'Futura PT';
        font-size: 16px;
        line-height: 21px;
        color: #231f20;

        @media (max-width: 991px) {
          display: none;
        }

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      &-name {
        display: block;
        cursor: pointer;
        margin: 8px 0 0;
        font-family: 'Futura PT';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #faa61a;

        &:hover {
          text-decoration: underline;
        }

        @media (max-width: 767px) {
          font-size: 13px;
          line-height: 17px;
        }
      }

      &-count {
        display: flex;
        align-items: center;
        margin: 8px 0 0;
        font-family: 'Futura PT';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #919191;

        @media (max-width: 767px) {
          order: 3;
          flex: 0 0 calc(100% - 84px);
        }

        img {
          width: 16px;
          height: 16px;
          margin: 0 8px 0 0;

          @media (max-width: 767px) {
            margin: 0 4px 0 0;
          }
        }
      }

      &-warn {
        margin: 8px 0 0;
        padding: 4px 8px;
        display: flex;
        background: #f5f5f5;
        border-radius: 6px;
        max-width: 384px;

        @media (max-width: 991px) {
          display: none;
        }

        @media (max-width: 767px) {
          margin: 16px 0 0;
          font-size: 14px;
          line-height: 18px;
        }

        img {
          width: 14px;
          height: 14px;
          margin: 0 8px 0 0;
        }
      }
    }

    &__price {
      max-width: 220px;
      padding: 0 0 0 10px;
      margin: 0 0 0 auto;

      @media (max-width: 991px) {
        flex: 0 0 220px;
        padding: 0 0 0 8px;
      }

      @media (max-width: 767px) {
        order: 5;
        margin: 0;
        padding: 0;
        flex: 1 1 100%;
        max-width: 100%;
        margin: 16px 0 0;
      }

      ._spares-items__item-count {
        flex: 0 0 auto;
        margin: 0;
      }

      &-row {
        display: flex;
        justify-content: space-between;

        ._spares-items__item-count {
          order: unset;
        }

        &:nth-child(2) {
          margin: 16px 0 0;

          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #231f20;

          span._price {
            font-family: 'Futura PT';
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            text-transform: uppercase;
            color: #231f20;

            @media (max-width: 767px) {
              font-size: 15px;
              line-height: 19px;
            }
          }
        }
      }

      &-price {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0 0 0 auto;
        padding: 0 0 0 10px;
        text-align: right;

        font-family: 'Futura PT';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #231f20;

        span {
          width: 100%;
          display: block;

          text-transform: none;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #919191;
        }

        @media (max-width: 767px) {
          font-size: 13px;
          line-height: 17px;

          span {
            font-family: 'Futura PT';
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    &__close {
      cursor: pointer;
      width: 16px;
      height: 16px;
      margin: 0 0 0 24px;

      svg {
        pointer-events: none;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    &__row {
      flex: 1 1 100%;
      display: flex;
      justify-content: space-between;

      &:first-child {
        margin: 0 0 16px;
      }
      &:last-child {
        margin: 16px 0 0;
      }

      .cart-item__info-code {
        display: block;
      }
      .cart-item__info-warn {
        margin: 0;
        display: flex;
        width: 100%;
        max-width: 100%;

        img {
          width: 16px;
          height: 16px;
        }
      }
      .cart-item__close {
        display: block;
      }

      @media (min-width: 992px) {
        display: none;
      }

      @media (max-width: 767px) {
        &:first-child {
          order: 1;
        }
        &:last-child {
          order: 4;
        }
      }
    }
  }

  &-order {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 32px;

    @media (max-width: 1050px) {
      margin: 0 auto;
      padding: 16px;
      border-radius: none;
      border: none;
      max-width: 384px;
    }

    &__title {
      font-family: 'Futura PT';
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      text-transform: uppercase;
      color: #000000;

      @media (max-width: 767px) {
        font-size: 17px;
        line-height: 22px;
      }
    }

    &__price {
      margin: 24px 0 0;
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px) {
        margin: 16px 0 0;
      }

      span {
        font-family: 'Futura PT';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #000000;

        @media (max-width: 767px) {
          font-size: 13px;
          line-height: 17px;
        }

        &._value {
          text-transform: uppercase;
          color: #231f20;
        }
      }
    }

    &__input {
      display: flex;
      flex-direction: column;
      margin: 24px 0 0;

      @media (max-width: 767px) {
        margin: 16px 0 0;
      }

      span {
        font-family: 'Futura PT';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #bababa;

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      label {
        display: flex;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        overflow: hidden;
        margin: 4px 0 0;

        input {
          flex: 1 1 auto;
          background: #ffffff;
          padding: 0 12px;

          font-family: 'Futura PT';
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #231f20;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 auto;
          width: 46px;
          height: 46px;
          background: #faa61a;
          transition: all 0.3s ease;

          &:hover {
            background: #ffbc4b;
          }

          svg {
            path {
              stroke: #ffffff;
            }
          }
        }
      }
    }

    &__nds {
      display: flex;
      justify-content: space-between;
      margin: 24px 0 0;

      @media (max-width: 767px) {
        margin: 16px 0 0;
      }

      span {
        font-family: 'Futura PT';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #919191;

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &__sum {
      display: flex;
      justify-content: space-between;
      margin: 8px 0 0;

      span {
        font-family: 'Futura PT';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #231f20;

        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &__btn {
      margin: 24px 0 0;
      width: 100%;

      @media (max-width: 767px) {
        margin: 16px 0 0;
        font-size: 13px;
        line-height: 17px;
      }
    }
  }
}
