<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs__back">
      <img src="./img/icons/arrow.svg" alt="">
      Вернуться
    </div>
    <div class="breadcrumbs-body">
      <a href="" class="breadcrumbs-body__item">
        Главная страница
      </a>
      <a href="" class="breadcrumbs-body__item">
        Каталог
      </a>
      <a href="" class="breadcrumbs-body__item">
        Строительное окрасочное оборудование
      </a>
      <a href="" class="breadcrumbs-body__item">
        Электрическое окрасочное оборудование
      </a>
    </div>
  </div>
</div>