._spares-items {
  @media (max-width: 767px) {
    .container {
      padding: 0;
    }
  }

  &__top {
    margin: 24px 0 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      display: none;
    }
  }

  &__sort {
    display: flex;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #919191;
    }

    a {
      display: flex;
      align-items: center;
      margin: 0 0 0 16px;

      font-size: 16px;
      line-height: 21px;
      color: #919191;
      transition: all 0.3s ease;

      &:hover {
        color: #231f20;
      }

      svg {
        display: none;
        margin: 2px 0 0 4px;
      }

      &._active {
        color: #231f20;

        svg {
          display: block;
        }
      }
    }

    &-btn {
      margin: 24px 0 0;
      cursor: pointer;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border: 1px solid #bababa;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03),
        0px 5px 15px rgba(0, 0, 0, 0.05);
      border-radius: 5px;

      svg {
        margin: 0 10px 0 0;
      }

      @media (min-width: 992px) {
        display: none;
      }
      @media (max-width: 767px) {
        margin: 24px 16px 0;
      }
    }
  }

  &__pages {
    display: flex;
    align-items: center;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #919191;
    }

    a {
      display: flex;
      align-items: center;
      margin: 0 0 0 8px;

      font-size: 16px;
      line-height: 21px;
      color: #919191;
      transition: all 0.3s ease;

      &:hover {
        color: #231f20;
      }

      &._active {
        color: #231f20;
      }
    }
  }

  &__content {
    margin: 24px 0 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 16px;
    border: 1px solid #d9d9d9;
    border-bottom: none;

    @media (max-width: 1200px) {
      padding: 8px 16px 8px 8px;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
      padding: 16px;
    }

    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }

    &:hover {
      z-index: 1;
      box-shadow: 0px 20px 24px -4px rgba(137, 142, 156, 0.25),
        0px 8px 8px -4px rgba(148, 148, 148, 0.2);
    }

    &-img {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;

      @media (max-width: 767px) {
        order: 1;
        width: 76px;
        height: 76px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      margin: 0 0 0 24px;

      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      color: #231f20;

      @media (max-width: 1200px) {
        margin: 0 0 0 8px;
        font-size: 13px;
        line-height: 17px;
      }

      @media (max-width: 767px) {
        order: 2;
        flex: 0 0 calc(100% - 92px);
        margin: 0 0 0 16px;
      }
    }

    &-price {
      margin: 0 0 0 auto;
      padding: 0 0 0 24px;
      text-align: center;

      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #919191;
      white-space: nowrap;

      @media (max-width: 1200px) {
        text-align: right;
        padding: 0 0 0 8px;
      }

      @media (max-width: 767px) {
        flex: 0 0 55%;
        order: 4;
        margin: 16px 0 0 auto;
      }

      span {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #231f20;
        @media (max-width: 1200px) {
          font-size: 13px;
          line-height: 17px;
        }
      }
    }

    &-count {
      display: flex;
      margin: 0 0 0 64px;

      border: 1px solid #d9d9d9;
      border-radius: 4px;
      overflow: hidden;
      height: 38px;

      @media (max-width: 1200px) {
        margin: 0 0 0 16px;
      }

      @media (max-width: 767px) {
        order: 3;
        margin: 16px 0 0;
      }

      button {
        background-color: transparent;
        width: 38px;
        transition: all 0.3s ease;

        svg {
          rect {
            transition: all 0.3s ease;
          }
        }

        &:hover {
          background-color: #d9d9d9;
          svg {
            rect {
              fill: #d9d9d9;
            }
          }
        }

        &:first-child {
          border-right: 1px solid #d9d9d9;
        }
        &:last-child {
          border-left: 1px solid #d9d9d9;
        }
      }

      input {
        width: 38px;
        height: 100%;

        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #231f20;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &[type='number'] {
          -moz-appearance: textfield;
        }
      }
    }

    &-sum {
      margin: 0 0 0 64px;

      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: #919191;
      white-space: nowrap;

      @media (max-width: 1200px) {
        margin: 0 0 0 16px;
      }

      @media (max-width: 767px) {
        text-align: left;
        flex: 0 0 40%;
        order: 5;
        margin: 16px auto 0 0;
      }

      span {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #231f20;

        @media (max-width: 1200px) {
          font-size: 13px;
          line-height: 17px;
        }
      }
    }

    &-btn {
      flex: 0 0 auto;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin: 0 0 0 64px;
      background: #faa61a;
      border-radius: 5px;
      transition: all 0.3s ease;

      @media (max-width: 1200px) {
        margin: 0 0 0 16px;
      }

      @media (max-width: 767px) {
        order: 6;
        margin: 16px 0 0 auto;
      }

      &:hover {
        background-color: #ffbc4b;
      }
    }
  }

  &__bottom {
    display: flex;
    margin: 24px 0 0;
    padding: 43px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      margin: 48px 0 0;
      padding: 0 0 32px;
      border-top: none;
    }

    @media (max-width: 767px) {
      margin: 40px 16px 0;
    }
  }

  &__more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 52px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width: 100%;
    max-width: 480px;
    transition: all 0.3s ease;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    &:hover {
      background-color: #d9d9d9;
    }
  }

  &__page {
    margin: 0 0 0 64px;

    display: flex;
    margin: 0 0 0 64px;

    border: 1px solid #d9d9d9;
    border-radius: 4px;
    overflow: hidden;
    height: 52px;

    @media (max-width: 991px) {
      margin: 32px 0 0;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 52px;
      transition: all 0.3s ease;

      &:disabled {
        svg {
          path {
            stroke: #d9d9d9;
          }
        }
      }

      svg {
        width: 16px;
        height: 16px;

        rect {
          transition: all 0.3s ease;
        }
      }

      &:hover {
        background-color: #d9d9d9;
        svg {
          rect {
            fill: #d9d9d9;
          }
        }
      }

      &:first-child {
        border-right: 1px solid #d9d9d9;
        svg {
          transform: scale(-1, 1);
          // transform: scale(-1, 1) translate(0, 1px);
        }
      }
      &:last-child {
        border-left: 1px solid #d9d9d9;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    input,
    span {
      width: 52px;
      height: 100%;

      font-weight: 600;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #231f20;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }
}
